/* Import de Fonte da API GoogleFonts */
@import url("https://fonts.googleapis.com/css2?family=Fugaz+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* 
MontSerrat:
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
Fugaz:
  font-family: "Fugaz One", sans-serif;
  font-weight: 400;
  font-style: normal;
*/

:root {
  --fonte-titulo: "Montserrat", sans-serif;
  --fonte-corpo: "Montserrat", sans-serif;
  --fonte-menu: "Montserrat", sans-serif;
}

/* Definir cores tema Dark */
:root,
:root[data-theme="dark"] {
  --primary-bg-color: #1d2a35;
  --primary-color: #cfcfcf;
  --secondary-color: #111217;
  --icon-color: #e69143;
  --text-color: grey;
  --social-color: grey;
}

/* Definir cores tema Light */
:root[data-theme="light"] {
  --primary-bg-color: #ffffff;
  --primary-color: #111217;
  --secondary-color: #ffffff;
  --icon-color: #5a68ad;
  --text-color: grey;
  --social-color: grey;
}

/* Necessario alterar cores dos elementos para os temas diferentes */
html[data-theme="dark"] .logo {
  filter: invert(1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--primary-bg-color);
  color: var(--primary-color);
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

ul {
  list-style: none;
}

h1 {
  font-family: var(--fonte-titulo);
  font-weight: 400;
}

h2 {
  font-family: var(--fonte-corpo);
  font-weight: 300;
}

p {
  font-family: var(--fonte-corpo);
}

#header {
  /* ID = # */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  z-index: 200;
  position: relative;
  border-bottom: 2px solid var(--primary-color);
  background: var(--secondary-color);
}

.menu-desktop {
  /* Class = . */
  display: none;
}

.menu {
  display: flex;
  gap: 1rem;
  align-items: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.menu-link.active .menu-text,
.menu-link:hover .menu-text {
  color: var(--primary-color);
  text-decoration: underline #5a68ad 2px;
  text-underline-offset: 0.5rem;
}

.menu-link:hover .social-icon {
  color: white;
  transition: all 0.1s ease-in-out;
}

.social-icon {
  color: var(--social-color);
  font-size: 1.5rem;
}

.logo {
  width: 4rem;
  height: 2rem;
}

.header-toggle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#toggleTheme {
  cursor: pointer;
  color: var(--icon-color);
  font-size: 1.5rem;
  transition: all 0.4s ease-in-out;
}

#menuHamburger {
  cursor: pointer;
  font-size: 1.3rem;
  transition: all 0.4s ease-in-out;
  border: none;
  color: var(--primary-color);
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  margin-left: 1.5rem;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.menu-text {
  color: var(--text-color);
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Montaserrat", sans-serif;
}

/* Flexbox */
#home {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* .main-content .video {
  display: flex;
  align-items: center;
  justify-content: center;
} */

.video {
  display: flex;
  justify-content: center;
  align-items: center;
}

.video iframe {
  aspect-ratio: 16/9;
  width: 95%;
}

/* Menu Mobile */

#menuMobile {
  margin-left: 1rem;
}

.btn-menu-mobile {
  background: transparent;
  color: var(--icone-menu-mobile);
  border: none;
  font-size: 1.8rem;
  padding: 0.5rem;
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Menu Mobile (estilo e animação) */

.menu-mobile {
  /* nav */
  position: fixed;
  top: 0;
  right: 0;
  background: var(--secondary-color);
  z-index: 100;
  transform: translateX(100%);
  display: flex;
  flex-direction: column; /* voltar */
  padding-top: 4rem;
  border-left: 1px solid var(--cor-borda);
  height: 100vh; /* VH = viewport  height  */
  width: 35%;
  transition: 0.3s ease-in-out;
}

.menu-mobile.active {
  transform: translateX(0%);
}

.menu-mobile .menu-lista {
  width: 100%;
  text-align: center;
  padding-top: 0.5rem;
}

.menu-mobile .menu-link {
  display: inline-block;
  font-size: 1rem;
  padding: 0.5rem 0;
}

@media (min-width: 768px) {
  /* A partir de 768px ate o infinito */

  .menu-desktop {
    display: flex;
    /* FLEXBOX */
    min-width: 30%;
  }

  .header-toggle {
    min-width: 30%;
  }

  .btn-menu-mobile {
    display: none;
  }

  #home {
    padding-top: 6rem;
  }
}
