* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #111217;
  color: rgb(214, 214, 214);
  font-family: "Inter", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#header {
  /* ID = # */
  display: flex;
  flex-wrap: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #b4b4b418;
  width: 100%;
  padding: 1rem 5rem;
  /* z-index: ;
  position: ; */
  border-bottom: 1px solid #d6d6d6;
}

.menu-desktop {
  /* Class = . */
  /* display: none; */
}

.menu {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.menu-link.active .menu-text,
.menu-link:hover .menu-text {
  color: #f8f8f8;
}

.menu-text {
  color: #979797;
  text-transform: uppercase;
  font-weight: bold;
}
